*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.featuredProducts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        gap: 40px;
        .featuredProductsText{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 36px;
                font-weight: 600;
                color:rgb(34, 34, 34);
            }
            p{
                font-size: 14px;
                font-weight: 300;
                color:rgb(119, 119, 119);
            }
        }
        .featuredProductsCards{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .featuredProductsCard{
                width: 22%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                padding: 40px 0;
                .cardImg{
                    min-height: 20vh;
                    img{
                        width: 100%;
                    }
                }
                .cardText{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    padding: 10px;
                    gap: 20px;
                    h3{
                        font-size: 18px;
                        font-weight: 600;
                        color:rgb(34, 34, 34);
                    }
                    p{
                        font-size: 14px;
                        font-weight: 300;
                        color:rgb(119, 119, 119);
                    }
                    button{
                        font-size: 14px;
                        font-weight: 600;
                        color: rgb(34, 34, 34);
                        border: 1px solid transparent;
                        background-color: white;
                        padding: 10px 20px;
                        transition: 0.5s ease;
                        &:hover{
                            cursor: pointer;
                            border: 1px solid rgb(138, 144, 255);
                            color: white;
                            background-color: rgb(105, 109, 168);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 300px) and (max-width:576px) {
    .featuredProducts{
        width: 100%;
        .container{
            width: 90%;
            .featuredProductsText{
                width: 100%;
                text-align: center;
            }
            .featuredProductsCards{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .featuredProductsCard{
                    background-color: rgb(247, 247, 247);
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                    padding: 40px 0;
                    .cardImg{
                        min-height: 20vh;
                        img{
                            width: 100%;
                        }
                    }
                    .cardText{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        text-align: center;
                        padding: 10px;
                        gap: 20px;
                        h3{
                            font-size: 18px;
                            font-weight: 600;
                            color:rgb(34, 34, 34);
                        }
                        p{
                            font-size: 14px;
                            font-weight: 300;
                            color:rgb(119, 119, 119);
                        }
                        button{
                            font-size: 14px;
                            font-weight: 600;
                            color: rgb(34, 34, 34);
                            border: 1px solid transparent;
                            background-color: white;
                            padding: 10px 20px;
                            transition: 0.5s ease;
                            &:hover{
                                cursor: pointer;
                                border: 1px solid rgb(138, 144, 255);
                                color: white;
                                background-color: rgb(105, 109, 168);
                            }
                        }
                    }
                }
            }
        }
    }
}